<%- include('../layouts/header', {title: 'Lista doq fazer'}) %>

<%- include('../layouts/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title">
                Lista doq fazer
            </h1>
            <h2 class="subtitle">
                Ajudando a gerenciar as atividades diárias =)
            </h2>
            <a href="/checklists" class="button is-light is-medium">Ir para a Lista de Atividades!</a>
        </div>
    </div>
</section>

<%- include('../layouts/footer') %>